@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;

}


header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    position: fixed;
    z-index: 10;
    background-color:rgb(236, 231, 231);
}

.img{
    width: 18%;
    margin-left: 1rem;
    margin-top: -1.2rem;
}

.logo{
    width: 100%;
    margin-top: -15px;
}

.icon{
    padding-top: 1.5rem;
    margin-right: 5rem;
}

.icon a{
    margin-right: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.home:hover{
    display: inline-block;
    transform: scale(1.1);
    text-decoration: underline #1E40AF;
}

.icon button{
    padding-top: 0px;
    padding: 6px 12px 6px 12px;
    background: linear-gradient(135deg, #1E40AF, #3B82F6);
    border: none;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
}

.icon button a{
    text-decoration: none;
    color: azure;
    font-size: 16px;
    margin: 5px 12px 5px 12px;
    transition: all ease 1s;
}

.get:hover{
    transform: scale(1.1);
    transition: 0.3s ease 0.1s;
    box-shadow: 1.5px 6px 1px 0 rgba(17, 16, 16, 0.274);    
}



.hero{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 580px;
    background-color: #d1cbcbe1;
}

.st{
    width: 50%;
    padding: 8rem 0 0 8rem;
}

.nd{
    width: 50%;
}

.title{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 2rem;

}

.title b{
    color: #335b9b;
}

.st p{
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 2rem;
}

.free{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    background: linear-gradient(135deg, #1E40AF, #3B82F6);
    padding: 10px 25px; 
    border-radius: 15px;
    margin-right: 1rem;
}

.demo{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    background-color: white;
    padding: 10px 25px; 
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 15px;
}

.demo img{
    width: 15px;
    height: 15px;
    margin-bottom: -1.5px;
    margin-right: 5px;
}

.nd{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.circle2{
    width: 500px;
    height: 310px;
    background-color: #3B82F6;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin-top: 10.5rem;
    margin-right: 30px;
    transform: rotate(-25deg);
}

.circle{
    width: 420px;
    height: 280px;
    background-color: #1E40AF;
    border-radius: 100% 50% 100% 50%;
    position: absolute;
    z-index: 0;
    margin-top: 14rem;
    margin-right: 75px;
    transform: rotate(-15deg);
}

.bg{
    width: 32rem;
    height: 680px;
    z-index: 2;
    margin-top: -5px;
    margin-right: 5pc;
}





.features{
    width: 100%;
    height: 300px;
    padding-top: 2.5rem;
    background-color: #d1cbcbab;
}

.titre{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.br{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0rem 0 1rem 0;
}

.boxbr{
    width: 75px;
    border-color: #3B82F6;
}

.box{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0 10rem 0 10rem;
}

.box1, .box2, .box3{
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px rgba(17, 16, 16, 0.274);    
    text-align: center;
    width: 300px;
    border-radius: 1.1rem;
}

.box1 h3, .box2 h3, .box3 h3{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.box1 p, .box2 p, .box3 p{
    font-size: small;
    margin-bottom: 20px;
}

.box1 img, .box2 img, .box3 img{
    width: 120px;
    height: 115px;
}







.price{
    width: 100%;
    height: auto;
    background-color: #d1cbcbab;
    padding-top: 3rem;
}

.price .box{
    padding: 0 12rem 0 12.2rem;
}

.basic{
    background-color: #ffffffa4;
    margin-top: 1.5rem;
    text-align: center;
    width: 16rem;
    height: 300px;
    border-radius: 1.1rem;
    box-shadow: 4px 4px 4px 4px rgba(17, 16, 16, 0.274);    
}

.basic h2{
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.pricebr{
    width: 75%;
}

.prix{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.prix h1{
    font-size: 70px;
    margin-top: -20px;
}

.prix h2{
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    margin-top: -0.2rem;
}

.prix h5{
    font-weight: 500;
    font-size: medium;
    margin-top: 40px;
}


.icons{
    width: 12px;
}

.yan{
    text-align: left;
    padding-left: 2.5rem;
    font-size: 13px;
    margin: 0 0 1rem 0;
}

.yan div{
    margin-bottom: 6px;
}

.bton{
    display: inline-block;
    text-decoration: none;
    color: azure;
    font-size: 16px;
    padding: .7rem 2.5rem .7rem 2.5rem;
    background: linear-gradient(135deg, #1E40AF, #3B82F6);
    border: none;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .7s;
}

.bton:hover{
    transform: scale(1.1);
    transition: 0.1s ease 0.1s;
    border: solid black 1px;
    box-shadow: 2px 6px 1px 1px rgba(0, 0, 0, 0.308);
}

.popular{
    background-color: #ffffffee;
    margin-top: 1rem;
    text-align: center;
    width: 17rem;
    height: 315px;
    border-radius: 1.1rem;
    box-shadow: 4px 4px 4px 4px rgba(17, 16, 16, 0.274);  
}

.popu{
    width: auto;
    height: 40%;
    border-radius: 1.1rem 1.1rem 0 0;
    background: linear-gradient(160deg, #3b83f6bb, #1E40AF);
    padding: 1rem 0.5rem 0 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popu .ttr{
    width: 60%;
    font-size: 12px;
    margin-top: 1.5rem;
    text-transform: capitalize;
    background-color: #335b9b; 
    padding: 2px; 
    border-radius: 10rem;  
}

.popu .prix{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.popular .yan{
    margin-top: 2rem;
    font-size: 15px;
}

.popular .bton{
    margin-top: 0.7rem;
}

.join{
    width: 100%;
    background-color: #d1cbcbab;
    padding-top: 2rem;
}

.enter{
    background: linear-gradient(135deg, #1E40AF, #1f63d1);
    padding: 1.5rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enter h1{
    color: white;
    font-size: 30px;
    margin-bottom: 1rem;
}

.jn{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: .5rem 3rem .5rem 3rem;
    background-color: white;
    border:solid 1px black;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .7s;
    margin-bottom: 1.5rem;
}

.jn:hover{
    transform: scale(1.1);
    transition: 0.1s ease 0.2s;
}


